## Test for Complexity Index, turbulence, and entropy

In [1]:
from sequenzo import *
import pandas as pd

In [2]:
# ===============================
#             CO2
# ===============================
# df = pd.read_csv("D:/country_co2_emissions_missing.csv")
df = load_dataset("country_co2_emissions")
_time = list(df.columns)[1:]
states = ['Very Low', 'Low', 'Middle', 'High', 'Very High']
sequence_data = SequenceData(df, time=_time, id_col="country", states=states)

# get_complexity_index(sequence_data)

# get_cross_sectional_entropy(sequence_data)

get_state_freq_and_entropy_per_seq(sequence_data)

# get_spell_duration_variance(sequence_data)

# get_within_sequence_entropy(sequence_data)

# get_turbulence(sequence_data)

# plot_longitudinal_characteristics(sequence_data)

# get_distance_matrix(sequence_data, method="OM", sm="trate", indel=1)

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 193
[>] Number of time points: 223
[>] Min/Max sequence length: 223 / 223
[>] States: ['Very Low', 'Low', 'Middle', 'High', 'Very High']
[>] Labels: ['Very Low', 'Low', 'Middle', 'High', 'Very High']
[>] Weights: Not provided
[>] Computing state distribution for 193 sequences and 5 states ...

              ID  Very Low  Low  Middle  High  Very High
0    Afghanistan       175   48       0     0          0
1        Albania       127   29      67     0          0
2        Algeria         0   30     133    60          0
3        Andorra         0    0       0     0        223
4         Angola       129   60      34     0          0
..           ...       ...  ...     ...   ...        ...
188    Venezuela         0    4       3    94        122
189      Vietnam        42   94      87     0          0
190        Yemen        17   81      63    62          0
191       Zambia       179   44       0     0          0
192     Zimbabwe        21  111      91     0          0

[193 rows x 6 columns]

In [3]:
# ===============================
#            detailed
# ===============================
df = pd.read_csv("D:/college/research/QiQi/sequenzo/data_and_output/sampled_data_sets/detailed_data/sampled_1000_data.csv")
_time = list(df.columns)[4:]
states = ['data', 'data & intensive math', 'hardware', 'research', 'software', 'software & hardware', 'support & test']
sequence_data = SequenceData(df[['worker_id', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10']],
                             time=_time, id_col="worker_id", states=states)
res = get_complexity_index(sequence_data)

res

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 1000
[>] Number of time points: 10
[>] Min/Max sequence length: 10 / 10
[>] States: ['data', 'data & intensive math', 'hardware', 'research', 'software', 'software & hardware', 'support & test']
[>] Labels: ['data', 'data & intensive math', 'hardware', 'research', 'software', 'software & hardware', 'support & test']
[>] Weights: Not provided

                               ComplexityIndex
subhash-kairamkonda-3a85088b          0.352636
akila-i-957124142                     0.198944
shirish-atre-82130a1a                 0.136243
jennifer-yang-25305562                0.000000
yiming-peter-huang                    0.186763
...                                        ...
james-gardner-46b669b3                0.000000
valentin-carillo-jr-7932a21a          0.000000
sue-bond-5392b51ab                    0.000000
aakash-sharma-1b161966                0.169035
sindhuja-prabakaran-989476137         0.000000

[1000 rows x 1 columns]

In [4]:
# ===============================
#             broad
# ===============================
df = pd.read_csv("D:/college/research/QiQi/sequenzo/data_and_output/sampled_data_sets/broad_data/sampled_1000_data.csv")
_time = list(df.columns)[4:]
states = ['Non-computing', 'Non-technical computing', 'Technical computing']
sequence_data = SequenceData(df[['worker_id', 'C1', 'C2', 'C3', 'C4', 'C5']],
                             time=_time, id_col="worker_id", states=states)
res = get_complexity_index(sequence_data)

res

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 1000
[>] Number of time points: 5
[>] Min/Max sequence length: 5 / 5
[>] States: ['Non-computing', 'Non-technical computing', 'Technical computing']
[>] Labels: ['Non-computing', 'Non-technical computing', 'Technical computing']
[>] Weights: Not provided

                                ComplexityIndex
tom-williams-9b982013b                 0.000000
emily-jacobs-b62a95237                 0.000000
alok-maheshwari-5879243                0.000000
harikarani                             0.000000
rasoolbabushaik                        0.000000
...                                         ...
tejaswini-chinta-23714659              0.000000
komal93                                0.000000
sanjay-sudheer-9a3718163               0.000000
jeff-stieglitz-3a2a086                 0.000000
syed-tajamul-hussain-35469713a         0.337448

[1000 rows x 1 columns]

In [2]:
# ===============================
#             Sohee
# ===============================
df = pd.read_csv('D:/college/research/QiQi/sequenzo/data_and_output/orignal data/sohee/sequence_data.csv')
time_list = list(df.columns)[1:133]
states = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
# states = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
labels = ['FT+WC', 'FT+BC', 'PT+WC', 'PT+BC', 'U', 'OLF']
sequence_data = SequenceData(df, time=time_list, states=states, labels=labels, id_col="PID")
res = get_complexity_index(sequence_data)

res

[!] Detected missing values (empty cells) in the sequence data.
    â†’ Automatically added np.nan to `states` and `labels` for compatibility.
    However, it's strongly recommended to manually include it when defining `states` and `labels`.
    For example:

        states = [At Home, Left Home, np.nan]
        labels = [At Home, Left Home, Missing]

    This ensures consistent color mapping and avoids unexpected visualization errors.

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 6576
[>] Number of time points: 132
[>] Min/Max sequence length: 15 / 132
[>] There are 24692 missing values across 2050 sequences.
    First few missing sequence IDs: [11, 18, 27, 33, 49, 54, 57, 58, 63, 68] ...
[>] Top sequences with the most missing time points:
    (Each row shows a sequence ID and its number of missing values)

             Missing Count
Sequence ID
4415                   117
7574                    81
8232                    68
4970                    65
3449                    60
[>] States: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, nan]
[>] Labels: ['FT+WC', 'FT+BC', 'PT+WC', 'PT+BC', 'U', 'OLF', 'Missing']
[>] Weights: Not provided

2        0.058101
3        0.250534
4        0.225811
6        0.000000
8        0.169478
           ...
12515    0.271183
12516    0.238801
12517    0.083477
12558    0.260554
12643    0.180078
Length: 6576, dtype: float64

In [ ]:
# ===============================
#            kass
# ===============================
df = pd.read_csv('D:/college/research/QiQi/sequenzo/files/orignal data/kass/wide_civil_final_df.csv')
time_list = list(df.columns)[1:]
states = ['Extensive Warfare', 'Limited Violence', 'No Violence', 'Pervasive Warfare', 'Prolonged Warfare',
          'Serious Violence', 'Serious Warfare', 'Sporadic Violence', 'Technological Warfare', 'Total Warfare']
sequence_data = SequenceData(df, time=time_list, states=states, id_col="COUNTRY")
res = get_complexity_index(sequence_data)

res