## Test for Complexity Index, turbulence, and entropy

In [4]:
from sequenzo import *
import pandas as pd

In [8]:
# ===============================
#             CO2
# ===============================
df = pd.read_csv("/Users/xinyi/Projects/sequenzo/sequenzo/data_and_output/orignal data/country_co2_emissions_missing.csv")
# df = load_dataset("country_co2_emissions")
_time = list(df.columns)[1:]
states = ['Very Low', 'Low', 'Middle', 'High', 'Very High']
sequence_data = SequenceData(df, time=_time, id_col="country", states=states)

# get_complexity_index(sequence_data)

# get_cross_sectional_entropy(sequence_data)

# get_state_freq_and_entropy_per_seq(sequence_data)

# get_spell_duration_variance(sequence_data)

# get_within_sequence_entropy(sequence_data)

# get_turbulence(sequence_data)

# plot_longitudinal_characteristics(sequence_data)

refseq = [[0, 1, 2], [3, 4, 5]]

get_distance_matrix(sequence_data, method="OM", sm="TRATE", indel="auto", refseq=refseq)

[!] Detected missing values (empty cells) in the sequence data.
    â†’ Automatically added 'Missing' to `states` and `labels` for compatibility.
    However, it's strongly recommended to manually include it when defining `states` and `labels`.
    For example:

        states = ['At Home', 'Left Home', 'Missing']
        labels = ['At Home', 'Left Home', 'Missing']

    This ensures consistent color mapping and avoids unexpected visualization errors.

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 194
[>] Number of time points: 223
[>] Min/Max sequence length: 216 / 223
[>] There are 7 missing values across 1 sequences.
    First few missing sequence IDs: ['Panama'] ...
[>] Top sequences with the most missing time points:
    (Each row shows a sequence ID and its number of missing values)

             Missing Count
Sequence ID
Panama                   7
[>] States: ['Very Low', 'Low', 'Middle', 'High', 'Very High', 'Missing']
[>] Labels: ['Very Low', 'Low', 'Middle', 'High', 'Very High', 'Missing']
[>] Weights: Not provided
[>] Processing 194 sequences with 6 unique states.
[>] Transition-based substitution-cost matrix (TRATE) initiated...
  - Computing transition probabilities for: [Very Low, Low, Middle, High, Very High, Missing]
[>] generated an indel of type number

[>] Pairwise measures between two subsets of sequences of sizes 3 and 3
[>] Identified 6 unique sequences.
[>] Starting Optimal Matching(OM)...
[>] Computed Successfully.

                Andorra      Angola  Antigua and Barbuda
Afghanistan  405.822347  350.589409           314.901733
Albania      285.684228  327.699334           347.404097
Algeria      299.516268  356.665611           263.147383

In [3]:
# ===============================
#            detailed
# ===============================
df = pd.read_csv("/Users/xinyi/Projects/sequenzo/sequenzo/data_and_output/sampled_data_sets/detailed_data/sampled_1000_data.csv")
_time = list(df.columns)[4:]
states = ['data', 'data & intensive math', 'hardware', 'research', 'software', 'software & hardware', 'support & test']
sequence_data = SequenceData(df[['worker_id', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10']],
                             time=_time, id_col="worker_id", states=states)
res = get_complexity_index(sequence_data)

res

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 1000
[>] Number of time points: 10
[>] Min/Max sequence length: 10 / 10
[>] States: ['data', 'data & intensive math', 'hardware', 'research', 'software', 'software & hardware', 'support & test']
[>] Labels: ['data', 'data & intensive math', 'hardware', 'research', 'software', 'software & hardware', 'support & test']
[>] Weights: Not provided

                               ComplexityIndex
subhash-kairamkonda-3a85088b          0.352636
akila-i-957124142                     0.198944
shirish-atre-82130a1a                 0.136243
jennifer-yang-25305562                0.000000
yiming-peter-huang                    0.186763
...                                        ...
james-gardner-46b669b3                0.000000
valentin-carillo-jr-7932a21a          0.000000
sue-bond-5392b51ab                    0.000000
aakash-sharma-1b161966                0.169035
sindhuja-prabakaran-989476137         0.000000

[1000 rows x 1 columns]

In [4]:
# ===============================
#             broad
# ===============================
df = pd.read_csv("/Users/xinyi/Projects/sequenzo/sequenzo/data_and_output/sampled_data_sets/broad_data/sampled_1000_data.csv")
_time = list(df.columns)[4:]
states = ['Non-computing', 'Non-technical computing', 'Technical computing']
sequence_data = SequenceData(df[['worker_id', 'C1', 'C2', 'C3', 'C4', 'C5']],
                             time=_time, id_col="worker_id", states=states)
res = get_complexity_index(sequence_data)

res

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 1000
[>] Number of time points: 5
[>] Min/Max sequence length: 5 / 5
[>] States: ['Non-computing', 'Non-technical computing', 'Technical computing']
[>] Labels: ['Non-computing', 'Non-technical computing', 'Technical computing']
[>] Weights: Not provided

                                ComplexityIndex
tom-williams-9b982013b                 0.000000
emily-jacobs-b62a95237                 0.000000
alok-maheshwari-5879243                0.000000
harikarani                             0.000000
rasoolbabushaik                        0.000000
...                                         ...
tejaswini-chinta-23714659              0.000000
komal93                                0.000000
sanjay-sudheer-9a3718163               0.000000
jeff-stieglitz-3a2a086                 0.000000
syed-tajamul-hussain-35469713a         0.337448

[1000 rows x 1 columns]

In [2]:
# ===============================
#             Sohee
# ===============================
df = pd.read_csv('/Users/xinyi/Projects/sequenzo/sequenzo/data_and_output/orignal data/sohee/sequence_data.csv')
time_list = list(df.columns)[1:133]
states = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
# states = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
labels = ['FT+WC', 'FT+BC', 'PT+WC', 'PT+BC', 'U', 'OLF']
sequence_data = SequenceData(df, time=time_list, states=states, labels=labels, id_col="PID")
res = get_complexity_index(sequence_data)

res

[!] Detected missing values (empty cells) in the sequence data.
    â†’ Automatically added np.nan to `states` and `labels` for compatibility.
    However, it's strongly recommended to manually include it when defining `states` and `labels`.
    For example:

        states = [At Home, Left Home, np.nan]
        labels = [At Home, Left Home, Missing]

    This ensures consistent color mapping and avoids unexpected visualization errors.

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 6576
[>] Number of time points: 132
[>] Min/Max sequence length: 15 / 132
[>] There are 24692 missing values across 2050 sequences.
    First few missing sequence IDs: [11, 18, 27, 33, 49, 54, 57, 58, 63, 68] ...
[>] Top sequences with the most missing time points:
    (Each row shows a sequence ID and its number of missing values)

             Missing Count
Sequence ID
4415                   117
7574                    81
8232                    68
4970                    65
3449                    60
[>] States: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, nan]
[>] Labels: ['FT+WC', 'FT+BC', 'PT+WC', 'PT+BC', 'U', 'OLF', 'Missing']
[>] Weights: Not provided

2        0.058101
3        0.250534
4        0.225811
6        0.000000
8        0.169478
           ...
12515    0.271183
12516    0.238801
12517    0.083477
12558    0.260554
12643    0.180078
Length: 6576, dtype: float64

In [ ]:
# ===============================
#            kass
# ===============================
df = pd.read_csv('/Users/xinyi/Projects/sequenzo/sequenzo/data_and_output/orignal data/sohee/wide_civil_final_df.csv')
time_list = list(df.columns)[1:]
states = ['Extensive Warfare', 'Limited Violence', 'No Violence', 'Pervasive Warfare', 'Prolonged Warfare',
          'Serious Violence', 'Serious Warfare', 'Sporadic Violence', 'Technological Warfare', 'Total Warfare']
sequence_data = SequenceData(df, time=time_list, states=states, id_col="COUNTRY")
res = get_complexity_index(sequence_data)

res

## parifam_family

In [1]:
# Import necessary libraries
# Your calling code (e.g., in a script or notebook)

from sequenzo import * # Import the package, give it a short alias
import pandas as pd # Data manipulation

df = load_dataset('pairfam_family')

# Show the dataframe
df

,id,weight40,sex,doby_gen,dob,ethni,migstatus,yeduc,sat1i4,sat5,...,255,256,257,258,259,260,261,262,263,264
0,111000.0,0.343964,1,1971,855,1,1,11.5,5,7,...,4,4,4,4,4,4,4,4,4,4
1,1624000.0,1.467063,1,1973,880,1,1,11.5,9,8,...,8,8,8,8,8,8,8,8,8,8
2,2767000.0,0.463918,1,1971,853,1,1,9.0,9,-2,...,8,8,8,8,8,8,8,8,8,8
3,2931000.0,1.767455,0,1973,881,5,3,10.5,5,5,...,9,9,9,9,9,9,9,9,9,9
4,3167000.0,0.884521,1,1973,883,1,1,11.5,8,10,...,8,8,8,8,8,8,8,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1861,919347000.0,0.964979,0,1973,880,1,1,11.5,8,4,...,1,1,1,1,1,1,1,1,1,1
1862,919488000.0,1.981277,0,1971,863,1,1,10.5,10,2,...,9,9,9,9,9,9,9,9,9,9
1863,919910000.0,0.485150,1,1973,878,1,1,20.0,7,7,...,8,8,8,8,8,8,8,8,8,8
1864,920140000.0,2.022823,0,1971,859,1,1,11.5,10,10,...,7,7,7,7,7,7,7,7,7,7
1865,920303000.0,0.620611,1,1971,860,1,1,14.0,10,6,...,6,6,6,6,6,6,6,6,6,6

In [2]:
# 1) Define time and states (order matters!)
time_list = [f"{i}" for i in range(1, 265)]  # 264 months
states = list(range(1, 10))                  # 1..9

# 2) Human-readable labels (strings)
labels = [
    "Single, no child",
    "LAT, no child",
    "Cohabiting, no child",
    "Married, no child",
    "Single, with child(ren)",
    "LAT, with child(ren)",
    "Cohabiting, with child(ren)",
    "Married, 1 child",
    "Married, 2+ children"
]

# 3) A fresh palette (9 colors, same order as 'states')
colors_list = [
    "#74C9B4",  # fresh green
    "#A6E3D0",  # water mint
    "#F9E79F",  # pale apricot
    "#F6CDA3",  # warm light orange
    "#F5B7B1",  # soft rose
    "#D7BDE2",  # light lavender
    "#A3C4F3",  # porcelain blue
    "#7FB3D5",  # lake blue
    "#EAECEE"   # cloud white
]

sequence_data = SequenceData(
    df,
    time=time_list,
    id_col="id",
    states=states,
    labels=labels,
    # If your data do not contain weight, then no need to include the following parameter
    weights=df["weight40"].values,
    custom_colors=colors_list
)

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 1866
[>] Number of time points: 264
[>] Min/Max sequence length: 264 / 264
[>] States: [1, 2, 3, 4, 5, 6, 7, 8, 9]
[>] Labels: ['Single, no child', 'LAT, no child', 'Cohabiting, no child', 'Married, no child', 'Single, with child(ren)', 'LAT, with child(ren)', 'Cohabiting, with child(ren)', 'Married, 1 child', 'Married, 2+ children']
[>] Weights: Provided (total weight=2346.268, mean=1.257, std=1.046)

In [3]:
om = get_distance_matrix(seqdata=sequence_data,
                         method="OM",
                         sm="CONSTANT",
                         indel=1)
om

[>] Processing 1866 sequences with 9 unique states.
  - Creating 10x10 substitution-cost matrix using 2 as constant value
[>] Identified 1857 unique sequences.
[>] Starting Optimal Matching(OM)...
[>] Computing all pairwise distances...
[>] Computed Successfully.

,111000.0,1624000.0,2767000.0,2931000.0,3167000.0,3450000.0,3491000.0,3902000.0,4814000.0,5678000.0,...,918511000.0,918595000.0,918958000.0,919111000.0,919206000.0,919347000.0,919488000.0,919910000.0,920140000.0,920303000.0
111000.0,0.0,498.0,498.0,498.0,498.0,266.0,416.0,498.0,518.0,508.0,...,498.0,508.0,528.0,406.0,528.0,528.0,500.0,518.0,508.0,502.0
1624000.0,498.0,0.0,274.0,210.0,226.0,386.0,302.0,314.0,374.0,366.0,...,106.0,368.0,346.0,398.0,378.0,378.0,400.0,232.0,268.0,274.0
2767000.0,498.0,274.0,0.0,382.0,214.0,480.0,444.0,440.0,436.0,372.0,...,274.0,470.0,502.0,466.0,502.0,502.0,502.0,404.0,334.0,380.0
2931000.0,498.0,210.0,382.0,0.0,340.0,346.0,314.0,218.0,268.0,270.0,...,154.0,380.0,274.0,358.0,282.0,282.0,350.0,166.0,326.0,270.0
3167000.0,498.0,226.0,214.0,340.0,0.0,384.0,400.0,394.0,370.0,350.0,...,186.0,428.0,458.0,480.0,458.0,508.0,506.0,344.0,222.0,324.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919347000.0,528.0,378.0,502.0,282.0,508.0,508.0,374.0,378.0,476.0,184.0,...,402.0,414.0,120.0,390.0,78.0,0.0,408.0,256.0,408.0,268.0
919488000.0,500.0,400.0,502.0,350.0,506.0,390.0,380.0,352.0,424.0,404.0,...,350.0,434.0,400.0,148.0,422.0,408.0,0.0,400.0,406.0,336.0
919910000.0,518.0,232.0,404.0,166.0,344.0,420.0,272.0,260.0,314.0,262.0,...,228.0,344.0,204.0,386.0,260.0,256.0,400.0,0.0,296.0,220.0
920140000.0,508.0,268.0,334.0,326.0,222.0,454.0,238.0,308.0,372.0,272.0,...,272.0,352.0,344.0,378.0,392.0,408.0,406.0,296.0,0.0,268.0
920303000.0,502.0,274.0,380.0,270.0,324.0,444.0,260.0,350.0,440.0,268.0,...,254.0,434.0,212.0,334.0,268.0,268.0,336.0,220.0,268.0,0.0